@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 40px;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #68ffb8;
  transition: 0.4s;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
  background: #181818;
  text-align: center;
}
@media (hover: hover) {
  a:hover {
    background-color: #68ffb8;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    #display: grid;
    #grid-template-columns: 1fr 1fr;
    padding: 0 2rem 40px;
  }
}
